<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test thread-count="5" name="Test">
 
    <classes>
    <!--   <class name="generic.Generic_PropertiesFile"/> -->
     <!--  <class name="scripts.TC1"/> -->
      <class name="scripts.Test_Login_Logout_test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
